* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
  }
  
  html, body {
    width: 100%;
    overflow-x: hidden;
    background-color: #ECEBE7;
    color: #9e9ea4;
    background-image: url(../Assets/Imgs/morumbiCDB.jpeg);
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
  }
  
  
  /* HEADER */

   header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90px;
    display: flex;
    background-color: transparent;
    border-bottom: solid 1px #000000;
}

.headerColor{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90px;
  display: flex;
  background-color: #ECEBE7;
  color: #000;
  border-bottom:solid #000000 0.2px;
  transition: background-color 0.3s ease;
}

.navBar{
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: 23px;
}

.imagemIndex{
    width: 65px;
    height: 80px;
    margin-left: 20px;
    margin-top: 2px;
}

.imagemIndex:hover{
    cursor: pointer;
}

.home{
    height: 20px;
    color: #000000;
    font-weight: 570;
}

.linkHome{
    text-decoration: none;
}

.home:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    cursor: pointer;
    transition: all 0.4s;
    color: #000;
}

.historias{
    height: 20px;
    color: #000000;
    font-weight: 570;
}

.linkHistorias{
    text-decoration: none;
}

.historias:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    cursor: pointer;
    transition: all 0.4s;
    color: #000;
}

.contato{
    height: 20px;
    color: #000000;
    font-weight: 570;
}

.linkContato{
    text-decoration: none;
}

.contato:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    cursor: pointer;
    transition: all 0.4s;
    color: #000;
}

.nomeUsuarioDash {
  color: #000000;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  width: 200px;
}

.loginIndex{
    text-decoration: none;
    color: #FFF;
}
  /* MAIN */
  
  .main-container {
    margin-top: 100px;
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
  }
  
  .main-title {
    display: flex;
    justify-content: center;
    padding: 30px;
  }

  .tituloDashboard {
    font-size: 45px;
    font-weight: 600;
    color: #000000;
    font-weight: 500;
    width: 550px;
    height: 60px;
    text-align: center;
  }
  
  .main-cards {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
    justify-content: space-around;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
  }
  
  .card{
    background-color: #7E0101;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
  }
  
  .charts-card {
    background-color: #7E0101;
    border: solid 3px #000;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    
    width: 650px;
    height: 550px;
  }

  .indicadores {
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    width: 650px;
    height: 550px;
  }

  .indicadoresContainer {
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .indicador {
    background-color: #7E0101;
    border: solid 3px #000000;
    border-radius: 10px;
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
  }

  p {
    font-size: 22px;
    font-weight: 500;
  }
  
  .chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
